@font-face {
               font-family:'robotoregular';
               src: url('https://d1csarkz8obe9u.cloudfront.net/fonts/robotoregular.eot');
               src: url('https://d1csarkz8obe9u.cloudfront.net/fonts/robotoregular.eot?#iefix') format('embedded-opentype'),
               url('https://d1csarkz8obe9u.cloudfront.net/fonts/robotoregular.woff2') format('woff2'),
               url('https://d1csarkz8obe9u.cloudfront.net/fonts/robotoregular.woff') format('woff'),
               url('https://d1csarkz8obe9u.cloudfront.net/fonts/robotoregular.ttf') format('truetype');
               font-weight: normal;
               font-style: normal;
            }